WorkspaceRG/.metadata/*
Workspace*/DS*/bin/*
*.class
*.ini
WorkspaceRG/DS*/bin/
WorkspaceRG/.metadata/
*.orig
.metadata/**
.metadata/
.metadata
WorkspaceRG/.metadata
WorkspaceRG/.metadata/
WorkspaceRG/.metadata/**
